<div class="mb-2 text-xl flex flex-row justify-between items-end">
    <div *ngIf="!isEditMode">Thông tin chi tiết</div>
    <div *ngIf="isEditMode">Chỉnh sửa thông tin</div>
    <div class="flex">
        <!-- <button *ngIf="isEditMode && active == 'true'" type="button"
        class="text-blue-700 hover:text-white border border-blue-700 
        hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 
        font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 
        dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800">Khóa</button> -->
        <button *ngIf="isEditMode && active == 'false'" type="button"
        class="text-blue-700 hover:text-white border border-blue-700 
        hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 
        font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 
        dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800">Hoạt động</button>
        <button type="button" style="background-color: rgb(29 78 216);" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 
        focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 
        dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" *ngIf="isEditMode">
        Đặt lại mật khẩu</button>
    </div>
</div>
<mat-divider></mat-divider>
<form action="" #userdetail="ngForm" (ngSubmit)="UserDetail(userdetail.value)">
    <div class="mt-4 flex flex-col">
        <div class="flex grow">
            <mat-form-field class="mr-4 grow w-1/3" appearance="outline">
                <mat-label>Tiêu đề</mat-label>
                <input matInput [disabled]="!isEditMode" [value]="user?.tieuDe" name="tieuDe" ngModel>
            </mat-form-field>
            <mat-form-field class="grow w-1/3" appearance="outline">
                <mat-label>Tags</mat-label>
                <input matInput [disabled]="!isEditMode" [value]="user?.tag" name="tag" ngModel >
            </mat-form-field>
        </div>
        <div class="flex grow">
            <mat-form-field class="mr-4 grow w-1/3" appearance="outline">
                <mat-label>Ngày đăng</mat-label>
                <input matInput [disabled]="!isEditMode" [value]="user?.ngayDang" name="ngayDang" ngModel >
            </mat-form-field>
            <mat-form-field class="grow w-1/3" appearance="outline">
                <mat-label>Nội dung</mat-label>
                <input matInput [disabled]="!isEditMode" [value]="user?.noiDung" name="noiDung" ngModel>
            </mat-form-field>
        </div>
        <div class="flex grow">
            <mat-form-field class="mr-4 grow w-1/3" appearance="outline">
                <mat-label>lượt xem</mat-label>
                <input matInput [disabled]="!isEditMode" [value]="user?.luotXem" name="luotXem" ngModel >
            </mat-form-field>
            <mat-form-field class="grow w-1/3" appearance="outline">
                <mat-label>Lượt thích</mat-label>
                <input matInput [disabled]="!isEditMode" [value]="user?.luotThich" name="luotThich" ngModel>
            </mat-form-field>
        </div>
        <div class="flex grow">
            <mat-form-field class="mr-4 grow w-1/3" appearance="outline">
                <mat-label>Báo cáo</mat-label>
                <input [disabled]="!isEditMode" matInput [value]="user?.baoCao" name="baoCao" ngModel>
            </mat-form-field>
            <mat-form-field class="grow w-1/3" appearance="outline">
                <mat-label>Danh sách bình luận</mat-label>
                <input [disabled]="!isEditMode" matInput [value]="user?.danhSachBinhLuan.length" name="danhSachBinhLuan" ngModel>
            </mat-form-field>
        </div>
        <!-- <div class="flex grow">
            <mat-form-field class="mr-4 grow w-1/3" appearance="outline">
                <mat-label>Ngày tạo</mat-label>
                <input matInput [value]="datepipe.transform(this.user?.createdDate, 'hh:mm a dd-MM-yyyy')" [disabled]="true">
            </mat-form-field>
            <mat-form-field class="grow w-1/3" appearance="outline">
                <mat-label>Ngày cập nhật</mat-label>
                <input matInput [value]="this.datepipe.transform(this.user?.lastModifiedDate, 'hh:mm a dd-MM-yyyy')" [disabled]="true">
            </mat-form-field>
        </div> -->
        <div class="grow w-full text-right">
            <button type="button" class="text-green-700 hover:text-white border
            border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none 
            focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2
             dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 
             dark:focus:ring-green-800" *ngIf="!isEditMode" (click)="isEditMode = true">Sửa</button>
            <button type="submit" class="text-green-700 hover:text-white border
            border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none 
            focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2
            dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 
            dark:focus:ring-green-800" *ngIf="isEditMode">Save</button>
            <button mat-dialog-close type="button" class="text-red-700 hover:text-white border border-red-700
            hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg
            text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white
            dark:hover:bg-red-600 dark:focus:ring-red-900">Đóng</button>
        </div>
    </div>
</form>
