.stop-stretching {
    width: 1%;
    white-space: nowrap;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(29 78 216);
}

::ng-deep .shadow-md {
    --tw-shadow: none;
    --tw-shadow-colored: none;
    box-shadow: none;
}

.text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}