.btn1 {
    border: 0;
    color: #dfdeee;
    border-radius: 100px;
    height: 38px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.btn1:hover {
    background: #5d33e6;
}

.spin {
    animation: spin 1s infinite;
    animation-timing-function: cubic-bezier(0.31, 0.31, 0.31, 0.31);
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}