<h1 mat-dialog-title class="font-bold">Đổi mật khẩu</h1>
<hr>
<div mat-dialog-content class="h-full">
    <form #changePassword="ngForm" class="flex flex-col justify-center items-center h-full w-full">
        <div class="w-full flex flex-col items-center">
            <div class="font-medium w-10/12 distance">Mật khẩu tài khoản đăng nhập</div>
            <input class="w-10/12 text-sm p-2 border-solid border-stone-500 border rounded-sm" type="password"
                placeholder="Mật khẩu tài khoản đăng nhập" name="currentPassword" ngModel required>
            <div class="font-medium" style="color: rgb(202, 30, 30); margin-top: 10px;" *ngIf="!check_pass">!Mật
                khẩu sai</div>
        </div>
        <div class="w-full flex flex-col items-center">
            <div class="font-medium w-10/12 distance">Mật khẩu mới</div>
            <input class="w-10/12 text-sm p-2 border-solid border-stone-500 border rounded-sm" type="password"
                placeholder="Mật khẩu mới" [(ngModel)]="newPassword" [ngModelOptions]="{standalone:true}"  required>
            <div class="font-medium" style="color: rgb(202, 30, 30); margin-top: 10px;" *ngIf="!check_lengthpass">
                !Mật khẩu dài tối
                thiểu 8 ký tự</div>
            <div class="font-medium" style="color: rgb(202, 30, 30); margin-top: 10px;" *ngIf="check_strongpass == false">
                !Mật khẩu chứa ít nhất 01 ký tự số, 01 ký tự chữ và 01 ký tự đặc biệt</div>
        </div>
        <div class="w-full flex flex-col items-center">
            <div class="font-medium w-10/12 distance">Nhập lại mật khẩu mới</div>
            <input class="w-10/12 text-sm p-2 border-solid border-stone-500 border rounded-sm" type="password"
                placeholder="Nhập lại mật khẩu mới" name="repeatnewPassword" ngModel required>
            <div class="font-medium" style="color: rgb(202, 30, 30); margin-top: 10px;" *ngIf="!check_repeatpass">
                !Nhập lại mật khẩu sai</div>
        </div>
        <div class="w-full flex flex-col mt-6">
            <div class="font-medium distance"><span style="color: rgb(202, 30, 30);">Lưu ý</span> : Mật khẩu cần thỏa
                mãn các điều kiện sau</div>
            <div class="font-medium">
                <div>- Có độ dài ít nhất 8 ký tự</div>
                <div>- Chọn ít nhất 01 ký tự số, 01 ký tự chữ và 01 ký tự đặc biệt</div>
                <div>- Không được trùng với 4 mật khẩu gần nhất</div>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions class="flex flex-row justify-end">
    <button mat-raised-button mat-dialog-close color="warn">Hủy</button>
    <button mat-raised-button cdkFocusInitial color="primary" type="submit" (click)="ChangePassword(changePassword.value)">Đổi mật khẩu</button>
</div>